<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <div>
            <h1>Tienda Virtual</h1>
        </div>
      
        <nav>
            <ul>
               <li><a href="#">Producto</a></li>
            </ul>
       </nav>
       
       <div>
        <img src="../public/imagenes/Playeras.jpg">
       </div> 

    </header>
        <section>
                <div>
                   <h4>Playeras</h4> 
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis sit id ipsam a debitis dolorem autem deserunt dicta enim laborum eveniet distinctio, quas reprehenderit quibusdam, nulla eaque numquam repudiandae repellendus.</p>

                </div>
        </section>
</body>
</html>