body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.column {
    width: 45%;
}

h2 {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    background-color: wheat;
}

table, th, td {
    border: 1px solid #ddd;
}

td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}